@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

:root {
  --primary-color: #FF0044;
  --primary-color-dark: #FF0044;
  --secondary-color: #faf9fe;
  --text-dark: #0f172a;
  --text-light: #64748b;
  --white: #ffffff;
  --max-width: 1200px;
}

/* * {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
} */

.section__container {
  max-width: var(--max-width);
  margin: auto;
  padding: 5rem 1rem;
}

.section__header {
  position: relative;
  padding-bottom: 0.5rem;
  margin-bottom: 1rem;
  font-size: 2.25rem;
  font-weight: 600;
  color: var(--text-dark);
}

.section__header::after {
  position: absolute;
  content: "";
  left: 0;
  bottom: 0;
  width: 50px;
  height: 3px;
  background-color: var(--primary-color);
}

.section__description {
  max-width: 900px;
  color: var(--text-light);
}

img {
  display: flex;
  width: 100%;
}

a {
  text-decoration: none;
  white-space: nowrap;
}

html,
body {
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
}

.header {
  background-color: var(--secondary-color);
}

.header__container {
  display: grid;
  gap: 2rem;
}

.header__image img {
  max-width: 1500px;
  margin: auto;
}

.header__content h4 {
  font-size: 2.5rem;
  font-weight: 400;
  color: var(--text-dark);
}

.header__content .section__header {
  font-size: 3.5rem;
  font-weight: 700;
}

.header__content p {
  margin-bottom: 2rem;
  color: var(--text-light);
}

.about__container {
  display: grid;
  gap: 2rem;
}

.about__image {
  position: relative;
  isolation: isolate;
}

.about__image img {
  max-width: 500px;
  margin: auto;
}

.about__image .about__bg {
  position: absolute;
  right: 2rem;
  top: 3rem;
  max-width: 250px;
  z-index: -1;
  opacity: 0.5;
}

.about__grid {
  margin-top: 2rem;
  display: grid;
  gap: 2rem;
}

.about__card {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.about__card span {
  padding: 11px 19px;
  font-size: 2rem;
  color: var(--primary-color);
  border: 2px solid var(--primary-color);
  border-radius: 100%;
}

.about__card h4 {
  margin-bottom: 0.5rem;
  font-size: 1.2rem;
  font-weight: 500;
  color: var(--text-dark);
}

.about__card p {
  color: var(--text-light);
}

.class__grid {
  margin-top: 4rem;
  display: grid;
  gap: 2rem;
}

.class__card {
  position: relative;
  isolation: isolate;
  display: flex;
  flex-direction: column;
  cursor: pointer;
  transition: 0.3s;
}

.class__card .class__bg {
  position: absolute;
  max-width: 175px;
  top: -3rem;
  right: -1rem;
  z-index: -1;
  opacity: 0;
  transition: 0.3s;
}

.class__card:hover .class__bg {
  opacity: 0.5;
}

.class__card:hover {
  transform: translateY(-10px);
}

.class__content {
  flex: 1;
  padding: 1rem;
  background-color: var(--primary-color);
  color: var(--white);
}

.class__content h4 {
  margin-bottom: 5px;
  font-size: 1.2rem;
  font-weight: 500;
}

.trainer__container :is(.section__header, .section__description) {
  width: fit-content;
  margin-inline: auto;
  text-align: center;
}

.trainer__container .section__header::after {
  left: 50%;
  transform: translateX(-50%);
}

.trainer__grid {
  margin-top: 4rem;
  display: grid;
  align-items: center;
}

.trainer__card {
  height: 100%;
  display: grid;
  align-items: center;
}

.trainer__card img {
  height: 100%;
  object-fit: cover;
}

.trainer__content {
  padding: 2rem 1rem;
}

.trainer__content h4 {
  font-size: 1.2rem;
  font-weight: 600;
  color: var(--text-dark);
}

.trainer__content h5 {
  margin-bottom: 1rem;
  font-size: 1rem;
  font-weight: 500;
  color: var(--text-light);
}

.trainer__content p {
  margin-block: 1rem;
  color: var(--text-light);
}

.trainer__socials {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.trainer__socials a {
  font-size: 1.2rem;
  color: var(--text-light);
}

.trainer__socials a:hover {
  color: var(--primary-color);
}

@media (width > 768px) {

  .header__container {
    padding-block: 0;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
  }

  .header__content {
    padding-block: 5rem;
    grid-area: 1/1/2/2;
  }

  .about__container {
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
  }

  .about__grid {
    gap: 3rem;
  }

  .class__grid {
    grid-template-columns: repeat(4, 1fr);
  }

  .trainer__grid {
    grid-template-columns: repeat(3, 1fr);
  }

  .trainer__card:nth-child(3) {
    grid-area: unset;
  }

  .trainer__content {
    padding: 2rem;
  }

}

@media (width > 1024px) {
  .class__grid {
    gap: 2rem;
  }

}