/*home-top*/
* {
    box-sizing: border-box;
}
.contain{
    font-family: 'EB Garamond';font-size: 22px;
    margin:0;
    width:100%;
    min-width: 100vh;
    max-width: 100%;
    min-height: 100vh;
    height:100%;
    background-image: linear-gradient(rgba(16, 14, 14, 0.3),transparent),url('/static/Base/media/home.jpeg');
    background-size: cover;
    background-position: center;
    padding: 0 8%;
    position: relative;
    box-sizing: border-box;
}
nav{
    display:flex;
    width:100%;
    align-items:center;
    flex-wrap:wrap;
    padding: 5px 0;
}
.logo{
    width:180px;
    cursor:pointer;
    margin-left: -110px;
}
.text-box .row p{
    font-size: 25px;
    display:flex;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 20px;
}
.text-box .middle h1{
    color:#111;
    margin-left: -65px;
    margin-bottom: 150px;
    font-size: 100px;
    line-height: 100px;
    animation: fadein 2s;
}
@keyframes fadein {
    from{
        opacity:0;
    }
    to{
        opacity:1;
    }
}
.text-box{
    color:#FF4D7B;
    position:absolute;
    bottom:45%;
}
.text-box h3{
    font-size: 40px;
    font-weight: 600;
    margin-left: -50px;
    background-position: 0 0;
    animation: h3animate 2s;
}
@keyframes h3animate{
    from{
        opacity:0;
        -webkit-transform: translate3d(100%, 0, 0);
        transform: translate3d(100%, 0, 0);
    }
    to{
        opacity:1;
        -webkit-transform: none;
        transform: none;
    }
}

.text-box h2{
    font-size: 80px;
    line-height: 100px;
    margin-left: 38px;
    margin-bottom: 50px;    
    -webkit-text-stroke: 1px #FF4D7B;
    background-position: 0 0;
    animation: h2animate 2.5s;   
}

@keyframes h2animate{
    from{
        opacity:0;
        -webkit-transform: translate3d(0, 100%, 0);
        transform: translate3d(0, 100%, 0);
    }
    to{
        opacity:1;
        -webkit-transform: none;
        transform: none;
    }
}


/* Video Gallery */
/*.videoGallery{
    margin-top: -25px;
}

.videoGallery-bg-top{
    background: url(https://www.myvaccinationhub.in/assets/images/video-gallery-top-bg.svg) no-repeat;
    width: 100%;
    height: 117px;
    margin-top: 60px;
}
.videoGallery{
    background-color: #e5effb; /* Use your desired grey color code 
    height: 240px;
}
.videoGallery-bg-bottom{
    background: url(https://www.myvaccinationhub.in/assets/images/video-gallery-top-bg.svg) no-repeat;
    width: 100%;
    height: 117px;
    margin-top: -80px;
}
.mvx-container{
    min-height:20px;
}
.mvh-container {
    max-width: 100%;
    margin: 0 auto;
    min-height: 60px;
    padding-left: 15px;
    padding-right: 15px;
    box-sizing: border-box;
}
.videoGallery.sectionHeading{
    padding-top: 25px;
}
.owl-stage{
    height: 50px;
}
.owl-video-frame {
    
    width: 100%;
    height: 100%;
}

.owl-dots{
    text-align: center;
    margin-top: 20px;
}

.owl-dot{
    display: inline-block;
}

.owl-dot span{
    width: 11px;
    height: 11px;
    background: #fff;
    border-radius: 50%;
    display: block;
    margin: 5px 3px;
}

.shadowbox {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color: white;
    border: none;
  
  }
*/
  /* Service */
  .card-services {
    transition: all 0.3s;
  }
  
  .card-services:hover {
    transform: scale(1.10);
    background-color:antiquewhite;
  }
  
  /* Card heading style */
  
  .cardheadingstyle{
    font-family: Georgia, 'Times New Roman', Times, serif;
  }
  
  /* Caed Body style */
  
  .cardbodystyle{
    font-family:Arial, Helvetica, sans-serif ;
  }

  /* Blog */

  @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,600;0,700;1,400&display=swap');
*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    scroll-padding-top: 2rem;
    box-sizing: border-box;
}

/* root values */
:root{
    --container-color: #1a1e21;
    --second-color: rgba(77, 228, 255);
    --text-color: #172317;
    --bg-color: #fff;
}

/* ::selection{
    color: var(--bg-color);
    background: var(--second-color);
} */

a{
    text-decoration: none;
}

li{
    list-style: none;
}

img{
    width: 100%;
}

section{
    padding: 3rem 0 2rem;
}

.container{
    max-width: 1068px;
    margin: auto;
    width: 100%;
}

a{
    color: #fff;
}

/* Header */
header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 200;
}

.home{
    width: 100%;
    min-height: 440px;
    background: url("images/banner2.png");
    display: grid;
    justify-content: center;
    align-items: center;
}

.home-text{
    color: var(--bg-color);
    text-align: center;
}

.home-title{
    font-size: 3.5rem;
}

.home-subtitle{
    font-size: 1rem;
    font-weight: 400;
}

.about{
    position: relative;
    width: 100%;
    display: flex !important;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.about .contentBx{
    max-width: 50%;
    width: 50%;
    text-align: left;
    padding-right: 40px;
}

.titleText{
    font-weight: 600;
    color: #111;
    font-size: 2rem;
    margin-bottom: 10px;
}

.title-text{
    color: #111;
    font-size: 1em;
}

.about .imgBx{
    position: relative;
    min-width: 50%;
    width: 50%;
    min-height: 300px;
}

.btn2{
    position: relative;
    display: inline-block;
    margin-top: 30px;
    padding: 10px 30px;
    background: #fff;
    border: .8px solid #111;
    color: #333;
    text-decoration: none;
    transition: 0.5s;
}

.btn2:hover{
    background-color: #FCA3B7;
    border: none;
    color: #fff;
}
@media (max-width: 1060px){
    .container{
        margin: 0 auto;
        width: 95%;
    }

    .home-text{
        width: 100%
    }
}

@media (max-width: 768px){
    .nav{
        padding: 10px 0;
    }

    section{
        padding: 2rem 0 !important;
    }

    .header-content{
        margin-top: 3rem !important;
    }

    .home{
        min-height: 380px;
    }

    .home-title{
        font-size: 3rem;
    }

    .header-title{
        font-size: 2rem;
    }

    .header-img{
        height: 370px;
    }

    .about{
        flex-direction: column;
    }

    .about .contentBx{
        min-width: 100%;
        width: 100%;
        text-align: center;
        padding-right: 0px;
    }

    .about .contentBx,
    .about .imgBx{
        min-width: 100%;
        width: 100%;
        padding-right: 0px;
        text-align: center;
    }

    .about .imgBx{
        min-height: 250px;
    }

    .btn2{
        margin-bottom: 30px;
    }

    .post-header{
        height: 435px;
    }

    .post-header{
        margin-top: 9rem !important;
    }
}

@media (max-width: 570px){
    .post-header{
        height: 390px;
    }

    .header-title{
        width: 100%;
    }

    .header-img{
        height: 340px;
    }
}

@media (max-width: 396px){
    .home-title{
        font-size: 2rem;
    }

    .home-subtitle{
        font-size: 0.9rem;
    }

    .home{
        min-height: 300px;
    }

    .post-box{
        padding: 10px;
    }

    .header-title{
        font-size: 1.4rem;
    }

    .header-img{
        height: 240px;
    }

    .post-header{
        height: 335px;
    }

    .header-img{
        height: 340px;
    }
}

.section-heading h2 {
    font-size: 24px;
    font-weight: 600;
    text-transform: uppercase;
    padding-bottom: 50px;
    border-bottom: 1px solid #e5ebf2;
}

.about {
    padding: 50px 0 100px;
}

.about-content {
    padding-top: 100px;
}

/*.single-about-txt*/
.single-about-txt h3 {
    font-size: 18px;
    color: #3c4258;
    text-transform: initial;
    line-height: 1.8;
}

/* .single-about-txt p {
    font-size: 16px;
    color: #999fb3;
    padding: 35px 0 43px;
    border-bottom: 1px solid #999fb3;
} */

.single-about-add-info {
    margin: 35px 0;
}

.single-about-add-info h3 {
    color: #636a82;
    font-size: 16px;
    text-transform: capitalize;
}

.single-about-add-info p {
    font-weight: 300;
    border: 0;
    padding: 0;
    margin-top: 3px;
}

/*.single-about-txt*/

/*.single-about-img */
.single-about-img {
    position: relative;
    box-shadow: 0 5px 20px rgba(14, 25, 80, .30);
}

.single-about-img:before {
    position: absolute;
    content: " ";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* background: rgba(31, 44, 108, .3); */
}

.single-about-img img {
    max-width: 500px;
    height: 468px;
}

.about-list-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 109%;
    height: 90px;
    background: #1f2c6c;
}

/*.ab-list-icon */
.about-list-icon ul {
    display: flex;
}

.about-list-icon ul li a {
    padding-right: 22px;
    cursor: pointer;
    color: #fff;
}

.about-list-icon ul li a {
    cursor: pointer;
    color: #fff;
    display: inline-block;
    border: 2px solid;
    margin-left: 20px;
    border-radius: 8px;
    width: 30px;
    height: 30px;
    line-height: 28px;
    text-align: center;
}

.about-list-icon ul li a i {
    margin-left: 6px;
}

/*.ab-list-icon */

/*.single-about-img */



