/*home-top*/
* {
    box-sizing: border-box;
}
.contain{
    font-family: 'EB Garamond';font-size: 22px;
    margin:0;
    width:100%;
    min-width: 100vh;
    max-width: 100%;
    min-height: 100vh;
    height:100%;
    background-size: cover;
    background-position: center;
    /* padding: 0 8%; */
    position: relative;
    box-sizing: border-box;
}
nav{
    display:flex;
    width:100%;
    align-items:center;
    flex-wrap:wrap;
    padding: 5px 0;
}
.logo{
    width:180px;
    cursor:pointer;
    margin-left: -110px;
}
.text-box .row p{
    font-size: 25px;
    display:flex;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 20px;
}
.text-box .middle h1{
    color:#111;
    margin-left: -65px;
    font-size: 100px;
    line-height: 100px;
    animation: fadein 2s;
}
@keyframes fadein {
    from{
        opacity:0;
    }
    to{
        opacity:1;
    }
}
.text-box{
    color:#FF4D7B;
    position:absolute;
    bottom:45%;
}
.text-box h3{
    font-size: 40px;
    font-weight: 600;
    margin-left: -50px;
    background-position: 0 0;
    animation: h3animate 2s;
}
@keyframes h3animate{
    from{
        opacity:0;
        -webkit-transform: translate3d(100%, 0, 0);
        transform: translate3d(100%, 0, 0);
    }
    to{
        opacity:1;
        -webkit-transform: none;
        transform: none;
    }
}

.text-box h2{
    font-size: 80px;
    line-height: 100px;
    margin-left: 38px;
    -webkit-text-stroke: 1px #FF4D7B;
    background-position: 0 0;
    animation: h2animate 2.5s;   
}

@keyframes h2animate{
    from{
        opacity:0;
        -webkit-transform: translate3d(0, 100%, 0);
        transform: translate3d(0, 100%, 0);
    }
    to{
        opacity:1;
        -webkit-transform: none;
        transform: none;
    }
}

.banner-img{
    width:100vw !important;
    height:auto;
    object-fit: cover;
    /* position: absolute;s */
    top:0;
    left:0;
    z-index: -1;

}


  /* Service */
  .card-services {
    transition: all 0.3s;
  }
  
  .card-services:hover {
    transform: scale(1.10);
    background-color:antiquewhite;
  }
  
  /* Card heading style */
  
  .cardheadingstyle{
    font-family: Georgia, 'Times New Roman', Times, serif;
  }
  
  /* Caed Body style */
  
  .cardbodystyle{
    font-family:Arial, Helvetica, sans-serif ;
  }

  /* Blog */

  @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,600;0,700;1,400&display=swap');
*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    scroll-padding-top: 2rem;
    box-sizing: border-box;
}

/* root values */
:root{
    --container-color: #1a1e21;
    --second-color: rgba(77, 228, 255);
    --text-color: #172317;
    --bg-color: #fff;
}

/* ::selection{
    color: var(--bg-color);
    background: var(--second-color);
} */

a{
    text-decoration: none;
}

li{
    list-style: none;
}

/* img{
    width: 100%;
} */

section{
    padding: 3rem 0 2rem;
}

.container{
    max-width: 1068px;
    margin: auto;
    width: 100%;
}

a{
    color: #fff;
}

/* Header */
header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 200;
}

.home{
    width: 100%;
    min-height: 440px;
    background: url("images/banner2.png");
    display: grid;
    justify-content: center;
    align-items: center;
}

.home-text{
    color: var(--bg-color);
    text-align: center;
}

.home-title{
    font-size: 3.5rem;
}

.home-subtitle{
    font-size: 1rem;
    font-weight: 400;
}

.about{
    position: relative;
    width: 100%;
    display: flex !important;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: justify;
}

.about .contentBx{
    max-width: 50%;
    width: 50%;
    text-align: left;
    padding-right: 40px;
}

.titleText{
    font-weight: 600;
    color: #111;
    font-size: 2rem;
    margin-bottom: 10px;
}

.title-text{
    color: #111;
    font-size: 1em;
}

.about .imgBx{
    position: relative;
    min-width: 50%;
    width: 50%;
    min-height: 300px;
}

.btn2{
    position: relative;
    display: inline-block;
    margin-top: 30px;
    padding: 10px 30px;
    background: #fff;
    border: .8px solid #111;
    color: #333;
    text-decoration: none;
    transition: 0.5s;
}

.btn2:hover{
    background-color: #FCA3B7;
    border: none;
    color: #fff;
}
@media (max-width: 1060px){
    .container{
        margin: 0 auto;
        width: 95%;
    }

    .home-text{
        width: 100%
    }
}

@media (max-width: 768px){
    .nav{
        padding: 10px 0;
    }

    section{
        padding: 2rem 0 !important;
    }

    .header-content{
        margin-top: 3rem !important;
    }

    .home{
        min-height: 380px;
    }

    .home-title{
        font-size: 3rem;
    }

    .header-title{
        font-size: 2rem;
    }

    .header-img{
        height: 370px;
    }

    .about{
        flex-direction: column;
    }

    .about .contentBx{
        min-width: 100%;
        width: 100%;
        text-align: center;
        padding-right: 0px;
    }

    .about .contentBx,
    .about .imgBx{
        min-width: 100%;
        width: 100%;
        padding-right: 0px;
        text-align: center;
    }

    .about .imgBx{
        min-height: 250px;
    }

    .btn2{
        margin-bottom: 30px;
    }

    .post-header{
        height: 435px;
    }

    .post-header{
        margin-top: 9rem !important;
    }
}

@media (max-width: 570px){
    .post-header{
        height: 390px;
    }

    .header-title{
        width: 100%;
    }

    .header-img{
        height: 340px;
    }
}

@media (max-width: 396px){
    .home-title{
        font-size: 2rem;
    }

    .home-subtitle{
        font-size: 0.9rem;
    }

    .home{
        min-height: 300px;
    }

    .post-box{
        padding: 10px;
    }

    .header-title{
        font-size: 1.4rem;
    }

    .header-img{
        height: 240px;
    }

    .post-header{
        height: 335px;
    }

    .header-img{
        height: 340px;
    }
}

.section-heading h2 {
    font-size: 24px;
    font-weight: 600;
    text-transform: uppercase;
    padding-bottom: 50px;
    border-bottom: 1px solid #e5ebf2;
}

.about {
    padding: 50px 0 100px;
}

.about-content {
    padding-top: 100px;
}

/*.single-about-txt*/
.single-about-txt h3 {
    font-size: 18px;
    color: #3c4258;
    text-transform: initial;
    line-height: 1.8;
}

/* .single-about-txt p {
    font-size: 16px;
    color: #999fb3;
    padding: 35px 0 43px;
    border-bottom: 1px solid #999fb3;
} */

.single-about-add-info {
    margin: 35px 0;
}

.single-about-add-info h3 {
    color: #636a82;
    font-size: 16px;
    text-transform: capitalize;
}

.single-about-add-info p {
    font-weight: 300;
    border: 0;
    padding: 0;
    margin-top: 3px;
}

/*.single-about-txt*/

/*.single-about-img */
.single-about-img {
    position: relative;
    box-shadow: 0 5px 20px rgba(14, 25, 80, .30);
}

.single-about-img:before {
    position: absolute;
    content: " ";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* background: rgba(31, 44, 108, .3); */
}

.single-about-img img {
    max-width: ;
    height: 468px;
}

.about-list-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 109%;
    height: 90px;
    background: #1f2c6c;
}

/*.ab-list-icon */
.about-list-icon ul {
    display: flex;
}

.about-list-icon ul li a {
    padding-right: 22px;
    cursor: pointer;
    color: #fff;
}

.about-list-icon ul li a {
    cursor: pointer;
    color: #fff;
    display: inline-block;
    border: 2px solid;
    margin-left: 20px;
    border-radius: 8px;
    width: 30px;
    height: 30px;
    line-height: 28px;
    text-align: center;
}

.about-list-icon ul li a i {
    margin-left: 6px;
}

/*.ab-list-icon */

/*.single-about-img */



/* vaccine chart */

/* $number-of-options: 5; */

#form-wrapper {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
}
form {
	width: 90%;
	max-width: 500px;
	#form-title {
		margin-top: 0;
		font-weight: 400;
		text-align: center;
	}
	#debt-amount-slider {
		display: flex;
		flex-direction: row;
		align-content: stretch;
		position: relative;
		width: 700px;
		height: 50px;
		user-select: none;
		&::before {
			content: " ";
			position: absolute;
			height: 2px;
			width: 100%;
			width: calc(100% * (#{$number-of-options - 1} / #{$number-of-options}));
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			background: #FF0044;
		}
		input, label {
			box-sizing: border-box;
			flex: 1;
			user-select: none;
			cursor: pointer;
		}
		label {
			display: inline-block;
			position: relative;
			width: 20%;
			height: 100%;
			user-select: none;
			&::before {
				content: attr(data-debt-amount);
				position: absolute;
				left: 50%;
				padding-top: 10px;
				transform: translate(-50%, 45px);
				font-size: 14px;
				letter-spacing: 0.4px;
				font-weight: 400;
				white-space: nowrap;
				opacity: 0.85;
				transition: all 0.15s ease-in-out;
			}
			&::after {
				content: " ";
				position: absolute;
				left: 50%;
				top: 50%;
				transform: translate(-50%, -50%);
				width: 30px;
				height: 30px;
				border: 2px solid #FF0044;
				background: #fff;
				border-radius: 50%;
				pointer-events: none;
				user-select: none;
				z-index: 1;
				cursor: pointer;
				transition: all 0.15s ease-in-out;
			}
			&:hover::after {
				transform: translate(-50%, -50%) scale(1.25);
			}
		}
		input {
			display: none;
			&:checked {
				+ label::before {
					font-weight: 800;
					opacity: 1;
				}
				+ label::after {
					border-width: 4px;
					transform: translate(-50%, -50%) scale(0.75);
				}
				~ #debt-amount-pos {
					opacity: 1;
				}
				@for $i from 1 through $number-of-options {
					&:nth-child(#{$i * 2 - 1}) ~ #debt-amount-pos {
						left: #{($i * 20%) - 10%};
					}
				}
			}
		}
		#debt-amount-pos {
			display: block;
			position: absolute;
			top: 50%;
			width: 12px;
			height: 12px;
			background: #FF0044;
			border-radius: 50%;
			transition: all 0.15s ease-in-out;
			transform: translate(-50%, -50%);
			border: 2px solid #fff;
			opacity: 0;
			z-index: 2;
		}
	}
	&:valid {
		#debt-amount-slider {
			input {
				+ label::before {
					transform: translate(-50%, 45px) scale(0.9);
					transition: all 0.15s linear;
				}
				&:checked + label::before {
					transform: translate(-50%, 45px) scale(1.1);
					transition: all 0.15s linear;
				}
			}
		}
	}
	
}

.custom-form {
    display: block;
    position: relative;
    margin: 56px auto 0;
    margin-right: 90px;
    padding: 10px 20px;
    appearance: none;
    transition: all 0.15s ease-in-out;
    font-family: inherit;
    font-size: 24px;
    font-weight: 600;
}

.custom-button {
    display: block;
    position: relative;
    margin: 56px auto 0;
    padding: 10px 20px;
    appearance: none;
    transition: all 0.15s ease-in-out;
    font-family: inherit;
    font-size: 24px;
    font-weight: 600;
    background: #FF0044;
    border: 2px solid #FF0044;
    border-radius: 8px;
    outline: 0;
    user-select: none;
    cursor: pointer;
}

.custom-button:hover {
    transform: scale(1.1);
    background: #FF0044;
    color: #fff;

    &:active {
        transform: scale(0.9);
    }
}

.custom-button:focus {
    background: #4caf50;
    border-color: #4caf50;
    color: #fff;
    pointer-events: none;

    &::before {
        animation: spin 1s linear infinite;
    }
}

.custom-button::before {
    display: inline-block;
    width: 0;
    opacity: 0;
    content: "\f3f4";
    font-family: "Font Awesome 5 Pro";
    font-weight: 900;
    margin-right: 0;
    transform: rotate(0deg);
}

.custom-button.invalid {
    pointer-events: none;
    opacity: 0.25;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
        width: 24px;
        opacity: 1;
        margin-right: 12px;
    }

    to {
        transform: rotate(360deg);
        width: 24px;
        opacity: 1;
        margin-right: 12px;
    }
}

.debtamnt{
    margin-left: -70px;
}
.scbutton{
   margin: 30px;
}