
body{
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    color: #333;
}
.navbar-nav .nav-item.dropdown:hover .nav-link,
.navbar-nav .nav-item.dropdown.show .nav-link {
  color: #FF4D7B !important;
}

.navbar-nav .nav-item.dropdown .dropdown-item.active,
.navbar-nav .nav-item.dropdown .dropdown-item:active {
  background-color: #FF4D7B;
  color: #fff !important;
}

.error{
  color:red;
  display:flex;
  align-items: center;
  justify-content: center;
}
.success{
  color: green;
  display:flex;
  align-items: center;
  justify-content: center;
}
.message-box {
  position: absolute;
  left: 50%;
  top: 5rem;
  transform: translate(-50%, -50%);
  width: 80%;
  padding: 20px;
  text-align: center;
  z-index: 1000;

}

.notification {
  display: inline-block;
  padding: 10px;
  border-radius: 3px;
  margin-bottom: 20px;
  color: #fff;
}

.notification.error {
  background-color: #f44336; /* Red */
}

.notification.success {
  background-color: #4CAF50; /* Green */
}

.notification.info {
  background-color: #2196F3; /* Blue */
}

.notification.warning {
  background-color: #ff9800; /* Orange */
}

button.cancel-message {
  background-color: #f44336;
  color: white;
  padding: 5px 10px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  margin-left: 20px;
}