
body{
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    color: #333;
}
.navbar-nav .nav-item.dropdown:hover .nav-link,
.navbar-nav .nav-item.dropdown.show .nav-link {
  color: #FF4D7B !important;
}

.navbar-nav .nav-item.dropdown .dropdown-item.active,
.navbar-nav .nav-item.dropdown .dropdown-item:active {
  background-color: #FF4D7B;
  color: #fff !important;
}

.error{
  color:red;
  display:flex;
  align-items: center;
  justify-content: center;
}
.success{
  color: green;
  display:flex;
  align-items: center;
  justify-content: center;
}
