{% extends "Base/base.html" %}
{% load static %}

{% block title %}
    Awarness
{% endblock title %}

{% block css %}
    <link rel="stylesheet" href={% static "Base/css/awarness.css" %}>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap" rel="stylesheet"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer"/>
    <link href="https://cdn.jsdelivr.net/npm/remixicon@3.5.0/fonts/remixicon.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.css" />
{% endblock css %}

{% block body %}
<header class="header">
  <div class="section__container header__container" id="home">
      <div class="header__image">
          <img src={% static "Base/media/awarness/header.png" %} alt="header" />
      </div>
      <div class="header__content">
          <h4>40 MILLION vaccinations</h4>
          <h1 class="section__header">Prevent more than
              2.5 million deaths each year!</h1>
          <p>
              Immunization is key to protecting children from 14 harmful diseases before they
              turn 2 years old, and healthcare professionals are the key to ensuring on-time vaccination.
              CDC is committed to maintaining public trust in immunizations by working to ensure the
              safety of vaccines and providing timely and transparent information about vaccine benefits
              and risks. Working with partners like the American Academy of Pediatrics (AAP) and the
              American Academy of Family Physicians (AAFP), CDC develops, reviews, and updates resources
              to help health care professionals talk to parents about vaccines, vaccine-preventable
              diseases, and vaccine safety.
          </p>
      </div>
  </div>
</header>

<section class="section__container about__container" id="about">
  <div class="about__image">
      <img src={% static "Base/media/awarness/about.png" %} alt="about" />
  </div>
  <div class="about__content">
      <h2 class="section__header">Immunization: the gift of health</h2>
      <p class="section__description">
          Immunization is one of the more important medical interventions. Over the course
          of history, it has helped keep millions of us protected against some of the most devastating
          and deadly diseases ever to befall mankind.
      </p>
      <div class="about__grid">
          <div class="about__card">
              <span><i class="ri-open-arm-line"></i></span>
              <div>
                  <h4>Polio</h4>
                  <p>
                      his disease is caused by a virus. It can infect the brain and spinal cord and cause
                      paralysis (when you can’t move one or more parts of your body) and even death.
                  </p>
              </div>
          </div>
          <div class="about__card">
              <span><i class="ri-shield-cross-line"></i></span>
              <div>
                  <h4>Rotavirus</h4>
                  <p>
                      This infection is caused by a virus. It can cause severe diarrhea, vomiting, fever and belly
                      pain. It can lead to dehydration.
                  </p>
              </div>
          </div>
          <div class="about__card">
              <span><i class="ri-p2p-line"></i></span>
              <div>
                  <h4>Varicella (also called chickenpox)</h4>
                  <p>
                      This infection spreads easily and causes itchy skin, rash and fever, and is very contagious
                      from person to person, even without direct contact.
                  </p>
              </div>
          </div>
      </div>
  </div>
</section>

<section class="section__container class__container" id="class">
  <h2 class="section__header">Toolkit for Prenatal Care Providers. Increasing the Use of Maternal Vaccines</h2>
  <p class="section__description">
      This comprehensive toolkit is intended to help prenatal care providers increase
      the rates of maternal immunization. Ob-gyns, nurse-midwives, and other healthcare
      professionals who serve pregnant women can all use this toolkit. The resources here include
      recommendations from CDC and other relevant details about vaccinating pregnant women.
  </p>
  <div class="class__grid">
      <div class="class__card">
          
          <img src={% static "Base/media/awarness/class-1.jpg" %} alt="class" />
          <div class="class__content">
              <h4>Africa CDC and UNICEF Expand Partnership</h4>
              <p>Strengthen Health Systems and Immunization of Children in Africa</p>
          </div>
      </div>
      <div class="class__card">
          
          <img src={% static "Base/media/awarness/class-2.jpg" %} alt="class" />
          <div class="class__content">
              <h4>Measles cases in Europe and Central Asia</h4>
              <p>Skyrocket by 3000 per cent this year compared to last</p>
          </div>
      </div>
      <div class="class__card">
          
          <img src={% static "Base/media/awarness/class-3.jpg" %} alt="class" />
          <div class="class__content">
              <h4>Millions at risk from cholera</h4>
              <p>Due to lack of clean water, soap and toilets, and shortage of cholera vaccine</p>
          </div>
      </div>
      <div class="class__card">
          
          <img src={% static "Base/media/awarness/class-4.jpg" %} alt="class" />
          <div class="class__content">
              <h4>Strengthening care for families and supporting mental health</h4>
              <p>Being mentally healthy gives us the ability to enjoy life and cope with good and bad days.</p>
          </div>
      </div>
  </div>
</section>

<section class="section__container trainer__container" id="trainer">
  <h2 class="section__header">Vaccination card is your child’s passport to health</h2>
  <p class="section__description">
      A Vaccination card (sometimes called immunization card) provides a history of
      all the vaccines your child has received and also helps you keep track of upcoming
      vaccinations. So that you don’t miss a single one.
      Generally, a Vaccination card is provided to you by the Pediatrician. Click on the link
      below to know more about Vaccines recommended upto 18 years of age.
  </p>
  <div class="trainer__grid">
      <div class="trainer__card">
          <img src={% static "Base/media/awarness/trainer-1.jpg" %} alt="trainer" />
      </div>
      <div class="trainer__card">
          <div class="trainer__content">
              <h4>Vaccines save lives</h4>
              <h5>Vaccines mean protection</h5>
              <hr />
              <p>
                  Protection for children againstall preventable diseases. And if you have been vaccinated or have
                  vaccinated your children,
                  you are part of the chain that keeps all humanity safe.
              </p>
          </div>
      </div>
      <div class="trainer__card">
          <img src={% static "Base/media/awarness/trainer-2.jpg" %} alt="trainer" />
      </div>
      <div class="trainer__card">
          <div class="trainer__content">
              <h4>Immunization</h4>
              <h5>Among Tribal Population</h5>
              <hr />
              <p>
                  Full Immunization Coverage is lowest among the Tribal Population (56%) as
                  compared to the national average of (62%) in India.
              </p>
          </div>
      </div>
      <div class="trainer__card">
          <img src={% static "Base/media/awarness/trainer-3.jpg" %} alt="trainer" />
      </div>
      <div class="trainer__card">
          <div class="trainer__content">
              <h4>School-going Children</h4>
              <h5>Need Protection Too!</h5>
              <hr />
              <p>
                  Getting age appropriate vaccination as recommended by your doctor can provide much needed
                  immunity against several life-compromising infections.
              </p>
          </div>
      </div>
  </div>
</section>

    {% comment %} {% include "Base/footer.html" %} {% endcomment %}
{% endblock body %}

{% block js %}
  <script src={% static "Base/js/awarness.js" %}></script>
  <script src="https://unpkg.com/scrollreveal"></script>
    <script src="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.js"></script>
   
{% endblock js %}