{% extends "Base/base.html" %}
{% load static %}

{% block title %}

{% endblock title %}

{% block css %}
    <link rel="stylesheet" href={% static "Base/css/awarness.css" %}>
{% endblock css %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>Contact</h1>
            </div>
        </div>
    </div>

    <!-- Footer Start -->
    <div class="footer">
        <div class="box-7">
            <div class="container-fluid bg-dark text-light footer">
                <div class="container py-5">
                    <div class="row g-5">
                        <div class="col-lg-4 col-md-6">
                            <h4 class="text-light mb-4">Address</h4>
                            <table>
                                <tr>
                                    <td>
                                        <i class="fa fa-map-marker-alt me-3 fa-5"></i>
                                    </td>
                                    <td>
                                        <a href="https://www.google.com/maps/place/Tutechage+Solution/@22.49007,88.395027,15z/data=!4m6!3m5!1s0x3a0271bf1fd19311:0x112d235b5add58aa!8m2!3d22.4900695!4d88.3950274!16s%2Fg%2F1ptyg3xlh?hl=en&entry=ttu"
                                            style="text-decoration: none; color: #faf9f2;">
                                            C-239 Little Vita, Santoshpur Kolkata, West
                                            Bengal
                                            700075 India</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <i class="fa fa-phone-alt me-3"></i>
                                    </td>
                                    <td>
                                        11-111-111-11
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <i class="fa fa-envelope me-3"></i>
                                    </td>
                                    <td>
                                        info@example.com
                                    </td>
                                </tr>
                            </table>
                        </div>
                        <div class="col-lg-4 col-md-6">
                            <h4 class="text-light mb-4">Business Hour</h4>
                            <table>
                                <tr>
                                    <td>Monday :</td>
                                    <td>10:00 AM - 9:00 PM</td>
                                </tr>
                                <tr>
                                    <td>Tuesday :</td>
                                    <td>10:00 AM - 9:00 PM</td>
                                </tr>
                                <tr>
                                    <td>Wednesday :</td>
                                    <td>10:00 AM - 9:00 PM</td>
                                </tr>
                                <tr>
                                    <td>Thursday :</td>
                                    <td>10:00 AM - 9:00 PM</td>
                                </tr>
                                <tr>
                                    <td>Friday :</td>
                                    <td>10:00 AM - 9:00 PM</td>
                                </tr>
                                <tr>
                                    <td>Saturday :</td>
                                    <td>10:00 AM - 9:00 PM</td>
                                </tr>
                                <tr>
                                    <td>Sunday :</td>
                                    <td>10:00 AM - 9:00 PM</td>
                                </tr>
                            </table>
                        </div>
                        <div class="col-lg-4 col-md-6">
                            <h4 class="text-light mb-4">Quick Links</h4>
                            <table>
                                <tr>
                                    <td>
                                        <i class="fa-solid fa-angle-right fa-xs"></i> <a href="#about"
                                            style="text-decoration: none; color:#faf9f2;">About Us</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <i class="fa-solid fa-angle-right fa-xs"></i> <a href="#quote"
                                            style="text-decoration: none; color:#faf9f2;">Get in touch</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <i class="fa-solid fa-angle-right fa-xs"></i> <a href="#survice"
                                            style="text-decoration: none; color:#faf9f2;">Our Services</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <i class="fa-solid fa-angle-right fa-xs"></i> <a href=""
                                            style="text-decoration: none; color:#faf9f2;">Terms & Condition</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <i class="fa-solid fa-angle-right fa-xs"></i> <a href=""
                                            style="text-decoration: none; color:#faf9f2;">Privacy Policy</a>
                                    </td>
                                </tr>
                            </table>
                        </div>

                    </div>
                </div>
                <div class="container">
                    <div class="copyright">
                        <div class="row">
                            <hr>
                            <div class="col-md-6 text-center text-md-start mb-3 mb-md-0">
                                &copy; <a class="border-bottom" href="#"
                                    style="text-decoration: none; color: #faf9f2;">Little Vita</a>, All Right Reserved.
                            </div>
                            <div class="col-md-6 text-center text-md-end mb-4">
                                Designed By <a class="border-bottom"
                                    style="text-decoration: none; color: #faf9f2;">Rudradeep</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Footer End -->

{% endblock body %}

{% block js %}

{% endblock js %}