{% extends "Base/base.html" %}
{% load static %}

{% block title %}
LittleVita
{% endblock title %}

{% block css %}
    <link rel="stylesheet" href={% static "Base/css/doctor.css" %}>
{% endblock css %}

{% block body %}
    <div class="row">
        <form method="GET" action="" class='search-bar justify-content-end'>
            <input type="text" name="q" placeholder="Search diseases..." class="user-input">
            <input type="submit" value="Search" class="btn btn-outline-warning search-btn">
        </form>
    </div>
    <!-- ======= Doctors Section ======= -->
    <section id="doctors" class="doctors">
        <div class="container">
            
            <div class="section-title">
                <h2>Doctors</h2>
                <p>Choose a doctor who has enough experience to give you the best care.</p>
            </div>
            
            <div class="row">
                {% for doctor in doctorsList %}
                <div class="col-lg-6">
                    <div class="member d-flex align-items-start">
                        <div class="pic"><img src={{doctor.image.url}} class="img-fluid" alt=""></div>
                        <div class="member-info">
                            <h4>{{doctor.doctor_name|upper}}</h4>
                            <span class="specialist">{{doctor.specialization}}</span>
                            <p class='hospital'>{{doctor.hospital}}</p>
                            <p class="days">
                                {% for day in doctor.days_in_hospital.all %}
                                    {{day}}{% if not forloop.last %}, {% endif %}
                                {% endfor %}
                            </p>
                            <p class="time">{{doctor.time}}</p>
                            <p class="fees">Fess: ₹{{doctor.fees}}</p>
                            <p class="phone">Phone: {{doctor.phone_number}}</p>
                            <p class="emailId">Email: {{doctor.email}}</p>
                            {% comment %} <div class="social">
                                <a href=""><i class="ri-twitter-fill"></i></a>
                                <a href=""><i class="ri-facebook-fill"></i></a>
                                <a href=""><i class="ri-instagram-fill"></i></a>
                            </div> {% endcomment %}
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </section><!-- End Doctors Section -->
    {% include "Base/footer.html" %}
{% endblock body %}

{% block js %}
    <script src={% static "Base/js/doctor.js" %}></script>

{% endblock js %}