{% extends "Base/base.html" %}
{% load static %}

{% block title %}
    Home
{% endblock title %}

{% block css %}
    <link href='https://fonts.googleapis.com/css?family=EB Garamond' rel='stylesheet'>
    <link rel="stylesheet" href="{% static 'Base/css/home.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css" integrity="sha512-tS3S5qG0BlhnQROyJXvNjeEM4UpMXHrQfTGmbQ1gKmelCxlSEBUaxhRBj/EFTzpbP4RVSrpEikbmdJobCvhE3g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.min.css" integrity="sha512-sMXtMNL1zRzolHYKEujM2AqCLUR9F2C4/05cdbxjjLSRvMQIciEPCQZo++nk7go3BtSuK9kfa/s+a4f4i5pLkw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href={% static "Base/css/chatbot.css" %}>

{% endblock css %}

{% block body %}

<div class="all">

<body class="lv-body">
    <header class="lv-header-text">
        <h1>Little Vitta: Where Little Patients <br> Find Big Solutions.</h1>
        <p>Nurturing Little lives, Where Tiny Patients Discover <br> Grand Solution for Health and Happyness.</p>
    </header>

    <div class="lv-img-design"></div>

    <div class="container pt-3 pb-5 mb-5">
        <h1 class="mb-4" style="font-size: 3.75rem;">Vaccination Chart</h1>

        <div class="card-group">
            <!-- Card 1 -->
            <div class="card lv-chart-card lv-card-1" style="border-bottom-right-radius: 10px;">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to
                        additional content. This content is a little bit longer.</p>
                    <p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p>
                </div>
                <div class="lv-overlay"></div>
            </div>
            <!-- Card 2 -->
            <div class="card lv-chart-card lv-card-2"
                style="border-bottom-right-radius: 10px; border-bottom-left-radius: 10px;">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">This card has supporting text below as a natural lead-in to additional content.
                    </p>
                    <p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p>
                </div>
                <div class="lv-overlay"></div>
            </div>
            <!-- Card 3 -->
            <div class="card lv-chart-card lv-card-3" style="border-bottom-left-radius: 10px;">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to
                        additional content. This card has even longer content than the first to show that equal height
                        action.</p>
                    <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                    <div class="lv-overlay"></div>
                </div>
            </div>
        </div>
        <!-- 2nd Row -->
        <div class="card-group">
            <!-- Card 4 -->
            <div class="card lv-chart-card lv-card-4" style="border-top-right-radius: 10px;">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to
                        additional content. This content is a little bit longer.</p>
                    <p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p>
                </div>
                <div class="lv-overlay"></div>
            </div>
            <!-- Card 5 -->
            <div class="card lv-chart-card lv-card-5"
                style="border-top-right-radius: 10px; border-top-left-radius: 10px;">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">This card has supporting text below as a natural lead-in to additional content.
                    </p>
                    <p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p>
                </div>
                <div class="lv-overlay"></div>
            </div>
            <!-- Card 6 -->
            <div class="card lv-chart-card lv-card-6" style="border-top-left-radius: 10px;">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to
                        additional content. This card has even longer content than the first to show that equal height
                        action.</p>
                    <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                    <div class="lv-overlay"></div>
                </div>
            </div>
        </div>

    </div>

    <!-- About Us  -->

    <div class="lv-unique-back-img">
        <div class="lv-unique-about-back-color">
            <div class="lv-unique-about-section">
                <div class="row">
                    <div class="col-sm-4">

                        <div class="lv-unique-flex-container">
                            <div class="lv-unique-flex-item lv-unique-flex-container-reverse">
                                <div>
                                    <img src={% static "Base/media/about-3.jpg" %} class="img-thumbnail lv-unique-left-bottom-img"
                                        alt="left-img">
                                </div>

                                <div
                                    class="lv-unique-flex-item lv-unique-flex-container-row d-flex justify-content-center align-items-center fs-3 text-white">
                                    <div class="text-start p-2">
                                        About Us
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4 ">
                        <div
                            class="lv-unique-flex-item lv-unique-flex-container-row d-flex justify-content-center align-items-center text-white p-3">
                            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Labore nemo libero molestiae sit,
                            obcaecati est architecto maxime, sed maiores impedit perferendis animi nobis assumenda
                            consectetur! Libero similique dolor eum aperiam!

                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="lv-unique-about-img-style">
                            <img src={% static "Base/media/about-2.jpg" %} class="img-thumbnail mx-auto d-block" alt="right-img">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>










    {% comment %} chat bot implement {% endcomment %}

    <div class="chat-icon" id="chatIcon">
        <img src={% static "Base/media/chat-bot.png" %} alt="Chatbot" srcset="" class="chatbot">
    </div>

    <!-- Chatbox -->
    <div class="chat-container" id="chatContainer" style="display: none;">
        <div class="chat-header">
            <h2>Chatbot</h2>
        </div>
        <div class="chat-window" id="chatWindow">
            <!-- Chat messages will be appended here -->
        </div>
        <form action="" method="post" id='myForm'>{% csrf_token %}
            <div class="chat-input">
                <input type="text" id="userInput" name='question' placeholder="Type your message...">
                <button id="sendButton"> 
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-send" viewBox="0 0 16 16">
                        <path d="M15.854.146a.5.5 0 0 1 .11.54l-5.819 14.547a.75.75 0 0 1-1.329.124l-3.178-4.995L.643 7.184a.75.75 0 0 1 .124-1.33L15.314.037a.5.5 0 0 1 .54.11ZM6.636 10.07l2.761 4.338L14.13 2.576zm6.787-8.201L1.591 6.602l4.339 2.76z"/>
                    </svg>    
                </button>
            </div>
        </form>
        
    </div>

</div>


    {% include "Base/footer.html" %}


{% endblock body%}


{% block js %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js" integrity="sha512-bPs7Ae6pVvhOSiIcyUClR7/q2OAsRiovw4vAkX+zJbw3ShAeeqezq50RIIcIURq7Oa20rW2n2q+fyXBNcU9lrw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    
    
   
    
    
    {% comment %} ChatBot implementation... Don't edit a single letter with out my permission  {% endcomment %}
    <script src={% static "Base/js/chatbot.js" %}></script>
    <script>       
        $(document).ready(function() {
            $('#myForm').submit(function(e) {
                e.preventDefault(); // Prevent default form submission
                // Serialize form data
                var formData = $(this).serialize();
                var question = document.getElementById('userInput');
                // console.log(question)
                // Send AJAX request
                $.ajax({
                    type: 'POST',
                    url: '{% url "home" %}',
                    data: formData,
                    success: function(response) {
                        // Get input field and chat window elements
                        const userInput = document.getElementById('userInput');
                        const sendButton = document.getElementById('sendButton');
                        const chatWindow = document.getElementById('chatWindow');
                        // Handle success response
                        console.log(response.answer);
                        const userMessage = userInput.value;
                        if (userMessage) {

                            const userMessageElement = document.createElement('pre');
                            userMessageElement.classList.add('user-message');
                            userMessageElement.textContent = 'User: ' + userMessage;
                            chatWindow.appendChild(userMessageElement);

                            // Clear input field
                            userInput.value = '';
                        
                            const botMessageElement = document.createElement('p');
                            botMessageElement.classList.add('bot-message');
                            botMessageElement.innerText = response.answer;
                            chatWindow.appendChild(botMessageElement);
                            let line= document.createElement('hr');
                            chatWindow.appendChild(line);
                        }
                    },
                    error: function(xhr, status, error) {
                        // Handle error
                        console.error(xhr.responseText);
                    }
                });
            });
        });
    </script>


{% endblock js %}