{% extends "Base/base.html" %}
{% load static %}

{% block title %}
    Home
{% endblock title %}

{% block css %}
    <link rel="stylesheet" href="{% static 'Base/css/home.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css" integrity="sha512-tS3S5qG0BlhnQROyJXvNjeEM4UpMXHrQfTGmbQ1gKmelCxlSEBUaxhRBj/EFTzpbP4RVSrpEikbmdJobCvhE3g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.min.css" integrity="sha512-sMXtMNL1zRzolHYKEujM2AqCLUR9F2C4/05cdbxjjLSRvMQIciEPCQZo++nk7go3BtSuK9kfa/s+a4f4i5pLkw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href={% static "Base/css/chatbot.css" %}>

{% endblock css %}

{% block body %}

<img src={% static "Base/media/LittleVitaBanner.jpg" %} class="img-fluid" alt="img">


<!-- Service starts -->
<div class="box-2 d-flex" id="service" style="background-color: whitesmoke;">
    <div class="container mb-5">
        <div class="heading d-flex justify-content-center p-5"
            style="font-family: Georgia, 'Times New Roman', Times, serif;">
            <h2 class="display-5 mb-4"> lorem_ </h2>
        </div>

        <div class="row gy-3" style="font-size: 1.2rem;">
            <div class="col-12 col-md-6 col-lg-4">
                <div class="card shadowbox card-services mb-4 rounded-4 h-100">
                    <div class="container">
                        <div class="card-body pt-5 pb-5">
                            <h4 class="card-title cardheadingstyle">
                                <b>Lorem 1</b>
                            </h4>
                            <p class="card-text text-start cardbodystyle">
                            <div class="inside-box d-flex flex-wrap">
                                nean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequa
                            </div>
                            </p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-12 col-md-6 col-lg-4">
                <div class="card shadowbox card-services mb-4 rounded-4 h-100">
                    <div class="container">
                        <div class="card-body pt-5 pb-5">
                            <h4 class="card-title cardheadingstyle">
                                <b>Lorem 2</b>
                            </h4>
                            <p class="card-text text-start cardbodystyle">
                            <div class="inside-box d-flex flex-wrap">
                                nean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequa
                            </div>
                            </p>

                        </div>
                    </div>
                </div>
            </div>

            <div class="col-12 col-md-6 col-lg-4">
                <div class="card shadowbox card-services mb-4 rounded-4 h-100">
                    <div class="container">
                        <div class="card-body pt-5 pb-5">
                            <h4 class="card-title cardheadingstyle">
                                <b>Lorem 1</b>
                            </h4>
                            <p class="card-text text-start cardbodystyle">
                            <div class="inside-box d-flex flex-wrap">
                                nean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequa
                            </div>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Service ends -->




{% comment %} --------Blog------ {% endcomment %}
    <div class="container mt-5 pt-5">
        <div class="row">
            <h2><center><font size="8">Blogs</font></center></h2>
	<b style="color:red;">
    <section class="about container" id="about">
        <div class="contentBx">
            <h3 class="titleText">Vacination Tips For Parents</h3>
            <p class="title-text">
                Almost all sickness or discomfort after vaccination is minor ,such as a soreness at the injection site or mild fever. 
			</p>
            <a href="#" class="btn2">Read more</a>
			<h3 class="titleText">Painful Vaccines</h3>
            <p class="title-text">
                Vaccines that are known to cause the most injection site pain are pneumococcal-C-13, MMR, and HPV vaccines. 
			</p>
            <a href="#" class="btn2">Read more</a>
        </div>
        <div class="imgBx">
            <img src={% static "Base/media/blog_img.jpg" %} alt="img" class="fitBg">
        </div>
    </section>

        </div>
    </div>


    {% comment %} chat bot implement {% endcomment %}

    <div class="chat-icon" id="chatIcon">
        <img src={% static "Base/media/chat-bot.png" %} alt="Chatbot" srcset="" class="chatbot">
    </div>

    <!-- Chatbox -->
    <div class="chat-container" id="chatContainer" style="display: none;">
        <div class="chat-header">
            <h2>Chatbot</h2>
        </div>
        <div class="chat-window" id="chatWindow">
            <!-- Chat messages will be appended here -->
        </div>
        <form action="" method="post" id='myForm'>{% csrf_token %}
            <div class="chat-input">
                <input type="text" id="userInput" name='question' placeholder="Type your message...">
                <button id="sendButton"> 
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-send" viewBox="0 0 16 16">
                        <path d="M15.854.146a.5.5 0 0 1 .11.54l-5.819 14.547a.75.75 0 0 1-1.329.124l-3.178-4.995L.643 7.184a.75.75 0 0 1 .124-1.33L15.314.037a.5.5 0 0 1 .54.11ZM6.636 10.07l2.761 4.338L14.13 2.576zm6.787-8.201L1.591 6.602l4.339 2.76z"/>
                    </svg>    
                </button>
            </div>
        </form>
        
    </div>




    {% include "Base/footer.html" %}
    
{% endblock body%}


{% block js %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js" integrity="sha512-bPs7Ae6pVvhOSiIcyUClR7/q2OAsRiovw4vAkX+zJbw3ShAeeqezq50RIIcIURq7Oa20rW2n2q+fyXBNcU9lrw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    
    
    {% comment %} owlCarousel {% endcomment %}
    <script>
        $(document).ready(function(){
            $('.owl-carousel').owlCarousel({
                items:4,
                merge:true,
                loop:true,
                margin:10,
                video:true,
                stagePadding: 5,
                videoHeight:true,
                videoWidth:true,
                lazyLoad:true,
                center:true,
                responsive:{
                    480:{
                        items:1
                    },
                    600:{
                        items:3
                    }
                }
            })
        });    
    </script>
    
    {% comment %} ChatBot implementation... Don't edit a single letter with out my permission  {% endcomment %}
    <script src={% static "Base/js/chatbot.js" %}></script>
    <script>       
        $(document).ready(function() {
            $('#myForm').submit(function(e) {
                e.preventDefault(); // Prevent default form submission
                // Serialize form data
                var formData = $(this).serialize();
                var question = document.getElementById('userInput');
                // console.log(question)
                // Send AJAX request
                $.ajax({
                    type: 'POST',
                    url: '{% url "home" %}',
                    data: formData,
                    success: function(response) {
                        // Get input field and chat window elements
                        const userInput = document.getElementById('userInput');
                        const sendButton = document.getElementById('sendButton');
                        const chatWindow = document.getElementById('chatWindow');
                        // Handle success response
                        console.log(response.answer);
                        const userMessage = userInput.value;
                        if (userMessage) {

                            const userMessageElement = document.createElement('p');
                            userMessageElement.classList.add('user-message');
                            userMessageElement.textContent = 'User: ' + userMessage;
                            chatWindow.appendChild(userMessageElement);

                            // Clear input field
                            userInput.value = '';
                        
                            const botMessageElement = document.createElement('p');
                            botMessageElement.classList.add('bot-message');
                            botMessageElement.innerText = 'BOT: ' + response.answer;
                            chatWindow.appendChild(botMessageElement);
                            let line= document.createElement('hr');
                            chatWindow.appendChild(line);
                        }
                    },
                    error: function(xhr, status, error) {
                        // Handle error
                        console.error(xhr.responseText);
                    }
                });
            });
        });
    </script>


{% endblock js %}