{% extends "Base/base.html" %}
{% load static %}

{% block title %}
    Hospitals
{% endblock title %}

{% block css %}
{% comment %} <link href="https://cdn.jsdelivr.net/npm/remixicon@3.4.0/fonts/remixicon.css" rel="stylesheet" /> {% endcomment %}
<link rel="stylesheet" href={% static "Base/css/hospital.css" %}>
{% endblock css %}

{% block body %}
<header class="s-header-bg">
    <div class="s-container s-h-container">
      <div class="s-header-content">
        <h1>Providing an Exceptional Patient Experience</h1>
        <p>
          Welcome, where exceptional patient experiences are our priority.
          With compassionate care, state-of-the-art facilities, and a
          patient-centered approach, we're dedicated to your well-being. Trust
          us with your health and experience the difference.
        </p>
      </div>

    </div>
  </header>


  <div class="container">
    <form method="GET" action="" class='search-bar'>
      <input type="text" name="q" placeholder="Search diseases..." class="user-input ">
      <input type="submit" value="Search" class="btn btn-outline-warning search-btn">
    </form>
    <h2 class="text-center mt-5 mb-4">Hospital Information</h2>
    <div class="row">

      <!-- Hospital Card  -->
      {% for hospital in hospitals  %}
      <div class="col-md-4">
        <div class="card hospital-card">
          <img src={{hospital.image.url}} class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">{{hospital.hospital_name}}</h5>
            <p class="card-text">Phone: {{hospital.phone_number}}</p>
            <p class="card-text">Location: {{hospital.address}}</p>
            <a href="#" class="btn btn-primary btn-book-ambulance">Book Ambulance</a>
          </div>
        </div>
      </div>
      {% endfor %}      

      {% for hospital in gemini_hospitals  %}
      <div class="col-md-4">
        <div class="card hospital-card">
          <img src={% static "Base/media/default_hospital.jpeg" %} class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">{{hospital.hospital_name}}</h5>
            <p class="card-text">Phone: {{hospital.phone_number}}</p>
            <p class="card-text">Location: {{hospital.address}}</p>
            <a href="#" class="btn btn-primary btn-book-ambulance">Book Ambulance</a>
          </div>
        </div>
      </div>
      {% endfor %}      

    </div>
  </div>

  <!-- Modal Popup Form -->
  <div id="modalForm" class="modal-form">
    <div class="modal-content">
      <span class="close" onclick="closeModalForm()">&times;</span>
      <h2>Book Ambulance</h2>
      <form>
        <div class="mb-3">
          <label for="name" class="form-label">Name:</label>
          <input type="text" class="form-control" id="name" required>
        </div>
        <div class="mb-3">
          <label for="phone" class="form-label">Phone Number:</label>
          <input type="tel" class="form-control" id="phone" required>
        </div>
        <div class="mb-3">
          <label for="address" class="form-label">Address:</label>
          <textarea class="form-control" id="address" rows="3" required></textarea>
        </div>
        <button type="submit" class="btn btn-primary btn-book-ambulance">Submit</button>
      </form>
    </div>
  </div>

{% endblock body %}


{% block js %}
    <script>

    const modalForm = document.getElementById('modalForm');
  
    function openModalForm() {
      modalForm.style.display = "block";
    }
  
    function closeModalForm() {
      modalForm.style.display = "none";
    }
  
    window.onclick = function (event) {
      if (event.target == modalForm) {
        modalForm.style.display = "none";
      }
    }
  
    const bookAmbulanceButtons = document.querySelectorAll('.btn-book-ambulance');
    bookAmbulanceButtons.forEach(button => {
      button.addEventListener('click', openModalForm);
    });
  </script>
{% endblock js %}