{% extends "Base/base.html" %}
{% load static %}

{% block title %}

{% endblock title %}

{% block css %}
    <link rel="stylesheet" href={% static "Base/css/login_signup.css" %}>
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
{% endblock css %}

{% block body %}
    <div class=" px-3 content" style="background-image: url({% static "Base/media/backgroung.jpg" %})">
        <div class="col align-self-center form-container">
            <div class="form-box">
                <div class="form">
                    <form class="login-form" method='post' > {% csrf_token %}
                        <center>
                            <h1 class="main-heading">Login Form</h1>
                        </center>
                        {% for field in form %}
                            <div class="form-group">
                                {{field.label_tag}} {{field}} <small class='text-warning'>{{field.errors|striptags}}</small>
                            </div>
                        {% endfor %}
                        <button class="rounded submit" type="submit">LOGIN</button>
    
                        {% if form.non_field_errors %}
                            {% for error in form.non_field_errors %}
                                <p class=" alert alert-danger my-3">{{error}}</p>
                            {% endfor %}
                        {% endif %}
                    </form>
                    <p class="additional-text">Not Registered? <a href={% url "signup" %}>Register</a></p>
                </div>
            </div>
        </div>
        {% comment %} <div class="col-1">
            <img src={% static "Base/media/Account.png" %}>
        </div> {% endcomment %}
    </div>



{% comment %} <h2>Login Form</h2>

<form action="/action_page.php" method="post">
  <div class="imgcontainer">
    <img src="img_avatar2.png" alt="Avatar" class="avatar">
  </div>

  <div class="container">
    <label for="uname"><b>Username</b></label>
    <input type="text" placeholder="Enter Username" name="uname" required>

    <label for="psw"><b>Password</b></label>
    <input type="password" placeholder="Enter Password" name="psw" required>
        
    <button type="submit">Login</button>
    <label>
      <input type="checkbox" checked="checked" name="remember"> Remember me
    </label>
  </div>

  <div class="container" style="background-color:#f1f1f1">
    <button type="button" class="cancelbtn">Cancel</button>
    <span class="psw">Forgot <a href="#">password?</a></span>
  </div>
</form> {% endcomment %}

{% endblock body %}

{% block js %}

{% endblock js %}