{% extends "Base/base.html" %}
{% load static %}

{% block title %}
    Nutrition
{% endblock title %}

{% block css %}
    <link rel="stylesheet" href={% static "Base/css/style.css" %}>
    <link rel="stylesheet" href={% static "Base/css/nutrition.css" %}>
{% endblock css %}

{% block body %}
<div class="container">
    <div class="row justify-content-center row-cols-1 row-cols-md-2 g-4 mt-3 mr-13 ml-13 mb-13">
        <div class="col">
          <div class="card shadow">
            <img src="https://www.cdc.gov/nutrition/infantandtoddlernutrition/images/breastfeeding-mom.jpg?_=95563" class="card-img-top" alt="breastfeeding">
            <div class="card-body">
              <h5 class="card-title">Breast Feeding</h5>
              <p class="card-text" style="font-size: 18px;">Breast milk is a great source of nutrition for your baby. If you are breastfeeding, or thinking about breastfeeding, learn more.
              </p>
              <p class="card-text" style="font-size: 15px;">age group:1-6months</p>
              <p class="card-text" style="font-size: 15px;">feeding method:Breastfeeding</p>
                <p class="card-text" style="font-size: 15px;">breast milk compo:Proteins, Fats, Carbohydrates, Vitamins, Minerals</p>
                <p class="card-text" style="font-size: 15px;">formula milk compo:</p>
                <p class="card-text" style="font-size: 15px;">introduction of solids:Introduction of soft foods</p>
                <p class="card-text" style="font-size: 15px;">recommended diet:Breast milk, soft foods</p>
            </div>
          </div>
        </div>
    </div>
</div>

{% include "Base/footer.html" %}

{% endblock body%}


{% block js %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js" integrity="sha512-bPs7Ae6pVvhOSiIcyUClR7/q2OAsRiovw4vAkX+zJbw3ShAeeqezq50RIIcIURq7Oa20rW2n2q+fyXBNcU9lrw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    
{% endblock js %}