{% extends "Base/base.html" %}
{% load static %}

{% block title %}
    Nutrition
{% endblock title %}

{% block css %}
    <link rel="stylesheet" href={% static "Base/css/style.css" %}>
    <link rel="stylesheet" href={% static "Base/css/nutrition.css" %}>
{% endblock css %}

{% block body %}
<form method="GET" action="" class='search-bar'>
  <input type="text" name="q" placeholder="Search diseases..." class="user-input ">
  <input type="submit" value="Search" class="btn btn-outline-warning search-btn">
</form>
<div class="main">
  <ul class="cards">
    {% for nutrition in nutritions %}
    <li class="cards_item">
      <div class="card" tabindex="0">
        <div class="card_image"><img src={{nutrition.image.url}} alt="mixed vegetable salad in a mason jar. "></div>
        <div class="card_content">
          <h2 class="card_title">{{nutrition.nutrition_name|upper}}</h2>
          <div class="card_text">
            <p class="description">{{nutrition.description}}</p>
            <p class="age-group"> <span class="title">Age-Group :</span> {{nutrition.age_group}}</p>
            <p class="feeding-method"> <span class="title"> Feeding method:</span> {{nutrition.feeding_method}}</p>
            <p class="recomandation-for"> <span class="title">Recomandation for: </span>  {{nutrition.recommended_diet}} </p>
            {% if nutrition.introduction_of_solids != "Not applicable" %}
            <p class="introduction-of-solid"> <span class="title"> Introduction of solid: </span> {{nutrition.introduction_of_solids}}</p>
            {% endif %}
          </div>
        </div>
      </div>
    </li>
    {% endfor %}
  </ul>
</div>

{% include "Base/footer.html" %}

{% endblock body%}


{% block js %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js" integrity="sha512-bPs7Ae6pVvhOSiIcyUClR7/q2OAsRiovw4vAkX+zJbw3ShAeeqezq50RIIcIURq7Oa20rW2n2q+fyXBNcU9lrw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    
{% endblock js %}