{% extends "Base/base.html" %}
{% load static %}

{% block title %}

{% endblock title %}

{% block css %}
    <link rel="stylesheet" href={% static "Base/css/login_signup.css" %}>
{% endblock css %}

{% block body %}
<div class="row">
    <div class="col-1">
        <div class="form-box">
            <div class="form">
                
                <form class="register-form" method='POST' action=''>{% csrf_token %}
                    <center>
                        <h1 class="main-heading">Register Form</h1>
                    </center>

                    {% for field in form %}
                        <div class="form-group">
                            {{field.label_tag}} {{field}} <small class='text-warning'>{{field.errors|striptags}}</small>
                        </div>
                    {% endfor %}
                    <button class="rounded" type="submit">REGISTER</button>
    
                    {% if form.non_field_errors %}
                        {% for error in form.non_field_errors %}
                            <p class=" alert alert-danger my-3">{{error}}</p>
                        {% endfor %}
                    {% endif %}
                    
                    <p class="message">
                        Already Registered?<a href={% url "login" %}>Login</a>
                    </p>
                </form>
            </div>
        </div>
    </div>
    <div class="col-1">
        <img src={% static "Base/media/Account.png" %}>
    </div>
</div>
{% endblock body %}

{% block js %}

{% endblock js %}