{% extends "Base/base.html" %}
{% load static %}

{% block title %}

{% endblock title %}

{% block css %}
    <link rel="stylesheet" href={% static "Base/css/vaccine.css" %}>
{% endblock css %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <!-- ======= Top Bar ======= -->

              <div class="d-none d-lg-flex custom-social-links align-items-center">
            <a href="#" class="facebook"><i class="bi bi-facebook"></i></a>
            <a href="#" class="instagram"><i class="bi bi-instagram"></i></a>
            <a href="#" class="twitter"><i class="bi bi-twitter"></i></a>
            <a href="#" class="linkedin"><i class="bi bi-linkedin"></i></a>
          </div>
        </div>
      </div>
  <!-- ======= Doctors Section ======= -->
  <section id="doctors" class="custom-doctors">
    <div class="container">

      <div class="custom-section-title">
        <h2 class="pt-5">Vaccine Information</h2>
        <p>A preparation that is used to stimulate the body's immune response against diseases.</p>
      </div>

      <div class="row">
        {% for vaccine in vaccines %}
        <div class="col-lg-6">
          <div class="custom-member d-flex align-items-center">
            <div class="custom-pic"><img src={{vaccine.image.url}} class="img-fluid" alt=""></div>
            <div class="custom-member-info">
              <h4>{{vaccine.vaccine_name}}</h4>
              {% comment %} <span>Hepatitis B Vaccine</span> {% endcomment %}
              <p><b>Manufacturer:</b> {{vaccine.manufacturer}}</p>
              <p><b>Description:</b> {{vaccine.description}}</p>
              <p><b>Disease Targeted:</b> {{vaccine.disease_targeted}}</p>
              <p><b>Storage Requirement:</b> {{vaccine.storage_requirements}}</p>
              <p><b>Side Effects:</b> {{vaccine.side_effects}}</p>
              <p><b>Additional Notes:</b> {{vaccine.additional_notes}}</p>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>

    </div>
  </section><!-- End Doctors Section -->
            </div>
        </div>
    </div>

    {% include "Base/footer.html" %}

{% endblock body %}

{% block js %}

{% endblock js %}